@mixin fontSans($color: #fff, $size:14px) {
    font-size: $size;
    font-weight: 400;
    font-family: 'PT Sans', sans-serif;
    color: $color;
    line-height: 1.29;
}

@mixin Playfairh($mb) {
    font-size: 36px;
    font-family: 'Playfair Display', serif;
    color: #fff;
    line-height: 1.33;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
    display: inline-block;
    margin-bottom: $mb;
}

@mixin fontPlayfair($size, $mb) {
    font-size: $size;
    font-family: 'Playfair Display', serif;
    color: #fff;
    line-height: 1.33;
    font-weight: 400;
    margin-bottom: $mb;
}

@mixin flex($justify, $direction:row, $align:center) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
}

@mixin underline($left) {
    content: '';
    position: absolute;
    width: 120px;
    height: 1px;
    background: #fff;
    bottom: -49px;
    left: $left;
}