        @import "variables";
        @import "mixins";
        *,
        html,
        body {
            margin: 0;
            padding: 0;
            text-decoration: none;
            list-style: none;
            box-sizing: border-box;
            font-family: 'Playfair Display', serif;
            font-family: 'PT Sans', sans-serif;
            color: #fff;
        }
        
        .container {
            max-width: 1140px;
            width: 100%;
            margin: 0 auto;
            padding: 0 15px;
        }
        
        // Шапка и первый экран
        header {
            background: $bg_fone;
        }
        
        .header-top__block {
            @include flex($justify: space-between);
            padding: 14px 0;
            p,
            a {
                @include fontSans($gray);
            }
            .top__block-left {
                @include flex($justify: center);
                p {
                    margin-left: 30px;
                    position: relative;
                }
                .phone::before {
                    content: '';
                    position: absolute;
                    width: 16px;
                    height: 16px;
                    background: url(../img/phone.svg) no-repeat center center;
                    left: -30px;
                    top: 2px;
                }
                .work-in-week::before {
                    position: absolute;
                    content: '|';
                    left: -15px;
                }
                .time-work::before {
                    position: absolute;
                    content: '|';
                    left: -15px;
                }
            }
            .top__block-right {
                @include flex($justify: center);
                p {
                    position: relative;
                }
                p:nth-child(2) {
                    margin-left: 15px;
                    &::before {
                        position: absolute;
                        content: '/';
                        left: -10px;
                    }
                }
                p:nth-child(1)::before {
                    content: '';
                    position: absolute;
                    width: 16px;
                    height: 16px;
                    background: url(../img/log-in.svg) no-repeat center center;
                    left: -25px;
                    top: 2px;
                }
            }
        }
        
        .header-nav {
            background: $block_bg;
        }
        
        .header-nav__block {
            @include flex($justify: space-between);
            padding: 25px 0;
            .nav__block ul {
                @include flex($justify: center);
                li {
                    a {
                        @include fontSans($gray);
                        text-transform: uppercase;
                        &:hover {
                            background: #1F1F1F;
                        }
                    }
                    &:nth-child(-n+3)>a {
                        padding: 31px 20px;
                    }
                    &:nth-child(n+4)>a {
                        margin-left: 40px;
                        &:hover {
                            background: none;
                        }
                    }
                }
            }
        }
        
        .offer-bg {
            @include flex(center, column, center);
            background: url(../img/offer-photo.png) no-repeat center center;
            background-size: cover;
            padding: 158px 0;
            .offer-porten {
                border: 4px solid #fff;
                width: 320px;
                height: 320px;
                margin-bottom: 80px;
                @include flex(center, column, center);
                p {
                    @include fontSans( $size: 22px);
                }
                img {
                    margin-bottom: 23px;
                }
            }
            p {
                @include fontSans( $size: 16px);
                text-transform: uppercase;
                text-align: center;
            }
        }
        
        // сезон 20/21 новая коллекция
        .season-collection {
            background: #000;
            @include flex(space-between);
            flex-wrap: wrap;
            min-width: 0;
            .season-watch {
                width: 100%;
                padding: 90px 80px;
                text-align: center;
                h2 {
                    @include Playfairh($mb: 100px);
                    &::after {
                        @include underline(73px);
                    }
                }
            }
        }
        
        // Коллекция 2018
        .collection-photo {
            background: #000;
            @include flex(space-between);
            flex-wrap: wrap;
            .collection-left__img {
                width: 50%;
                height: 730px;
                background: url(../img/collection-2018.png) no-repeat center top;
                background-size: cover;
                @include flex($justify: center, $align: center, $direction: column);
                h2 {
                    @include Playfairh($mb: 100px);
                    &::after {
                        @include underline(101px);
                    }
                }
                a {
                    @include fontSans($size: 18px);
                    padding: 12px 28px;
                    text-transform: uppercase;
                    border: 1px solid white;
                    letter-spacing: 0.1em;
                }
            }
            .collection-right__img {
                width: 50%;
                height: 730px;
                background: url(../img/new-collection.png) no-repeat left top;
                background-size: cover;
                @include flex($justify: center, $align: center, $direction: column);
                h2 {
                    @include Playfairh($mb: 100px);
                    &::after {
                        @include underline(128px);
                    }
                }
                a {
                    @include fontSans($size: 18px);
                    padding: 12px 28px;
                    text-transform: uppercase;
                    border: 1px solid white;
                    letter-spacing: 0.1em;
                }
            }
        }
        
        // Новые поступления
        .new-post {
            background: $bg_fone;
            text-align: center;
            padding-top: 120px;
            padding-bottom: 110px;
            h2 {
                @include Playfairh($mb: 130px);
                &::after {
                    @include underline(160px);
                }
            }
            .new-post__watch {
                @include flex(space-between);
                flex-wrap: wrap;
                .card-watch {
                    margin-bottom: 40px;
                    .watch {
                        padding: 55px 22px 56px 23px;
                        background: $img_bg;
                        margin-bottom: 25px;
                    }
                    h4 {
                        @include fontPlayfair($size: 18px, $mb: 5px);
                        text-align: left;
                    }
                    p {
                        @include fontPlayfair($size: 16px, $mb: 0);
                        text-align: left;
                    }
                }
            }
        }
        
        // Наши бренды
        .our-brand {
            background: $block_bg;
            .our-brand__block {
                text-align: center;
                padding-top: 60px;
                padding-bottom: 80px;
                h2 {
                    @include Playfairh($mb: 80px);
                    &::after {
                        @include underline(84.5px);
                    }
                }
                .our-brand__photo {
                    @include flex(space-between);
                    flex-wrap: wrap;
                }
            }
        }
        
        // подвал
        footer {
            width: 100%;
            background: url(../img/footer-img.png) no-repeat center center;
            background-size: cover;
            .footer-info {
                padding: 100px 0 100px;
                @include flex($justify: space-between, $direction: row, $align: start);
                flex-wrap: wrap;
                .info-shop {
                    h2 {
                        @include fontPlayfair($size: 24px, $mb: 40px);
                        text-transform: uppercase;
                        font-weight: 400;
                    }
                    p {
                        @include fontSans($size: 14px);
                        text-align: left;
                        line-height: 1.5;
                    }
                }
                .category {
                    flex-basis: 332px;
                    h2 {
                        @include fontPlayfair($size: 24px, $mb: 40px);
                        text-transform: uppercase;
                        font-weight: 400;
                    }
                    .categoty-item {
                        display: flex;
                        flex-wrap: wrap;
                        a {
                            @include fontSans($color: #D0D0D0);
                            line-height: 1.5;
                            padding: 10px 20px;
                            background: #0F0F0F;
                            margin-right: 20px;
                            margin-bottom: 20px;
                        }
                    }
                }
                .mailling {
                    h2 {
                        @include fontPlayfair($size: 24px, $mb: 40px);
                        text-transform: uppercase;
                        font-weight: 400;
                    }
                    p {
                        @include fontSans($size: 14px);
                        text-align: left;
                        line-height: 1.5;
                        margin-bottom: 37px;
                    }
                    .input-mail {
                        input {
                            background: rgba(255, 255, 255, 0.4);
                            border: none;
                            padding: 11px 15px;
                            &::placeholder {
                                color: $gray;
                            }
                            &:active {
                                border: none;
                            }
                        }
                        button {
                            @include fontSans($size: 14px);
                            padding: 10px 20px;
                            text-transform: uppercase;
                            line-height: 1.5;
                            background: #000;
                            border: none;
                            letter-spacing: 0.05em;
                            margin-left: -4px;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
        
        // слайдер
        .slider {
            position: relative;
            padding: 0 60px;
            .slick-arrow {
                position: absolute;
                top: 50%;
                margin-top: -40px;
                z-index: 10;
                font-size: 0;
                width: 40px;
                height: 50px;
                border-style: none;
            }
            .slick-prev {
                left: 0;
                background: url(../img/arrow-left.svg) 0 0 / 100% no-repeat;
            }
            .slick-next {
                right: 0;
                background: url(../img/arrow-right.svg) 0 0 / 100% no-repeat;
            }
            .slick-list {
                overflow: hidden;
                .slick-track {
                    display: flex;
                    .slider__item {}
                }
            }
            .slick-dots {
                display: flex;
                align-items: center;
                justify-content: center;
                li {
                    list-style: none;
                    margin: 0 10px;
                    &.slick-active>button {
                        background-color: transparent;
                        border: 1px solid #fff;
                    }
                    button {
                        font-size: 0;
                        width: 10px;
                        height: 10px;
                        background-color: #fff;
                        border-radius: 50%;
                        border-style: none;
                    }
                }
            }
        }