*,
html,
body {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Playfair Display", serif;
  font-family: "PT Sans", sans-serif;
  color: #fff;
}

.container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

header {
  background: #000;
}

.header-top__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 14px 0;
}
.header-top__block p,
.header-top__block a {
  font-size: 14px;
  font-weight: 400;
  font-family: "PT Sans", sans-serif;
  color: #969696;
  line-height: 1.29;
}
.header-top__block .top__block-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.header-top__block .top__block-left p {
  margin-left: 30px;
  position: relative;
}
.header-top__block .top__block-left .phone::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  background: url(../img/phone.svg) no-repeat center center;
  left: -30px;
  top: 2px;
}
.header-top__block .top__block-left .work-in-week::before {
  position: absolute;
  content: "|";
  left: -15px;
}
.header-top__block .top__block-left .time-work::before {
  position: absolute;
  content: "|";
  left: -15px;
}
.header-top__block .top__block-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.header-top__block .top__block-right p {
  position: relative;
}
.header-top__block .top__block-right p:nth-child(2) {
  margin-left: 15px;
}
.header-top__block .top__block-right p:nth-child(2)::before {
  position: absolute;
  content: "/";
  left: -10px;
}
.header-top__block .top__block-right p:nth-child(1)::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  background: url(../img/log-in.svg) no-repeat center center;
  left: -25px;
  top: 2px;
}

.header-nav {
  background: #0F0F0F;
}

.header-nav__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 25px 0;
  position: relative;
}
.header-nav__block .nav__block ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.header-nav__block .nav__block ul li a {
  font-size: 14px;
  font-weight: 400;
  font-family: "PT Sans", sans-serif;
  color: #969696;
  line-height: 1.29;
  text-transform: uppercase;
}
.header-nav__block .nav__block ul li a:hover {
  background: #1F1F1F;
}
.header-nav__block .nav__block ul li:nth-child(-n+3) > a {
  padding: 31px 20px;
}
.header-nav__block .nav__block ul li:nth-child(n+4) > a {
  margin-left: 40px;
}
.header-nav__block .nav__block ul li:nth-child(n+4) > a:hover {
  background: none;
}

.hamburger-menu {
  display: none;
}
.hamburger-menu #menu__toggle {
  opacity: 0;
  position: absolute;
}
.hamburger-menu #menu__toggle:checked ~ .menu__btn > span {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.hamburger-menu #menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  -webkit-transform: rotate(0);
          transform: rotate(0);
}
.hamburger-menu #menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
.hamburger-menu #menu__toggle:checked ~ .menu__box {
  visibility: visible;
  right: 0;
}
.hamburger-menu .menu__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 50px;
  height: 35px;
  cursor: pointer;
  z-index: 1000;
}
.hamburger-menu .menu__btn > span, .hamburger-menu .menu__btn > span::before, .hamburger-menu .menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #616161;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
}
.hamburger-menu .menu__btn > span::before {
  content: "";
  top: -10px;
}
.hamburger-menu .menu__btn > span::after {
  content: "";
  top: 10px;
}
.hamburger-menu .menu__box {
  z-index: 100;
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 140px 0;
  list-style: none;
  background-color: #ECEFF1;
  -webkit-box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
}
.hamburger-menu .menu__box .menu__item {
  display: block;
  padding: 15px 45px;
  color: #333;
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  font-weight: 600;
  text-decoration: none;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
}
.hamburger-menu .menu__box .menu__item:hover {
  background-color: #CFD8DC;
}

.offer-bg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: url(../img/offer-photo.png) no-repeat center center;
  background-size: cover;
  padding: 158px 0;
}
.offer-bg .offer-porten {
  border: 4px solid #fff;
  width: 320px;
  height: 320px;
  margin-bottom: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.offer-bg .offer-porten p {
  font-size: 22px;
  font-weight: 400;
  font-family: "PT Sans", sans-serif;
  color: #fff;
  line-height: 1.29;
}
.offer-bg .offer-porten img {
  margin-bottom: 23px;
}
.offer-bg .offer-porten__text {
  max-width: 730px;
}
.offer-bg .offer-porten__text p {
  font-size: 16px;
  font-weight: 400;
  font-family: "PT Sans", sans-serif;
  color: #fff;
  line-height: 1.29;
  text-transform: uppercase;
  text-align: center;
}

.season-collection {
  background: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-width: 0;
}
.season-collection .season-watch {
  width: 100%;
  padding: 90px 80px;
  text-align: center;
}
.season-collection .season-watch h2 {
  font-size: 36px;
  font-family: "Playfair Display", serif;
  color: #fff;
  line-height: 1.33;
  font-weight: 700;
  text-transform: uppercase;
  position: relative;
  display: inline-block;
  margin-bottom: 100px;
}
.season-collection .season-watch h2::after {
  content: "";
  position: absolute;
  width: 120px;
  height: 1px;
  background: #fff;
  bottom: -49px;
  left: 73px;
}

.collection-photo {
  background: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.collection-photo .collection-left__img {
  width: 50%;
  height: 730px;
  background: url(../img/collection-2018.png) no-repeat center top;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.collection-photo .collection-left__img h2 {
  font-size: 36px;
  font-family: "Playfair Display", serif;
  color: #fff;
  line-height: 1.33;
  font-weight: 700;
  text-transform: uppercase;
  position: relative;
  display: inline-block;
  margin-bottom: 100px;
}
.collection-photo .collection-left__img h2::after {
  content: "";
  position: absolute;
  width: 120px;
  height: 1px;
  background: #fff;
  bottom: -49px;
  left: 101px;
}
.collection-photo .collection-left__img a {
  font-size: 18px;
  font-weight: 400;
  font-family: "PT Sans", sans-serif;
  color: #fff;
  line-height: 1.29;
  padding: 12px 28px;
  text-transform: uppercase;
  border: 1px solid white;
  letter-spacing: 0.1em;
}
.collection-photo .collection-right__img {
  width: 50%;
  height: 730px;
  background: url(../img/new-collection.png) no-repeat left top;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.collection-photo .collection-right__img h2 {
  font-size: 36px;
  font-family: "Playfair Display", serif;
  color: #fff;
  line-height: 1.33;
  font-weight: 700;
  text-transform: uppercase;
  position: relative;
  display: inline-block;
  margin-bottom: 100px;
}
.collection-photo .collection-right__img h2::after {
  content: "";
  position: absolute;
  width: 120px;
  height: 1px;
  background: #fff;
  bottom: -49px;
  left: 128px;
}
.collection-photo .collection-right__img a {
  font-size: 18px;
  font-weight: 400;
  font-family: "PT Sans", sans-serif;
  color: #fff;
  line-height: 1.29;
  padding: 12px 28px;
  text-transform: uppercase;
  border: 1px solid white;
  letter-spacing: 0.1em;
}

.new-post {
  background: #000;
  text-align: center;
  padding-top: 120px;
  padding-bottom: 110px;
}
.new-post h2 {
  font-size: 36px;
  font-family: "Playfair Display", serif;
  color: #fff;
  line-height: 1.33;
  font-weight: 700;
  text-transform: uppercase;
  position: relative;
  display: inline-block;
  margin-bottom: 130px;
}
.new-post h2::after {
  content: "";
  position: absolute;
  width: 120px;
  height: 1px;
  background: #fff;
  bottom: -49px;
  left: 160px;
}
.new-post .new-post__watch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.new-post .new-post__watch .card-watch {
  margin-bottom: 40px;
}
.new-post .new-post__watch .card-watch .watch {
  padding: 55px 22px 56px 23px;
  background: #191B1C;
  margin-bottom: 25px;
}
.new-post .new-post__watch .card-watch h4 {
  font-size: 18px;
  font-family: "Playfair Display", serif;
  color: #fff;
  line-height: 1.33;
  font-weight: 400;
  margin-bottom: 5px;
  text-align: left;
}
.new-post .new-post__watch .card-watch p {
  font-size: 16px;
  font-family: "Playfair Display", serif;
  color: #fff;
  line-height: 1.33;
  font-weight: 400;
  margin-bottom: 0;
  text-align: left;
}

.our-brand {
  background: #0F0F0F;
}
.our-brand .our-brand__block {
  text-align: center;
  padding-top: 60px;
  padding-bottom: 80px;
}
.our-brand .our-brand__block h2 {
  font-size: 36px;
  font-family: "Playfair Display", serif;
  color: #fff;
  line-height: 1.33;
  font-weight: 700;
  text-transform: uppercase;
  position: relative;
  display: inline-block;
  margin-bottom: 80px;
}
.our-brand .our-brand__block h2::after {
  content: "";
  position: absolute;
  width: 120px;
  height: 1px;
  background: #fff;
  bottom: -49px;
  left: 84.5px;
}
.our-brand .our-brand__block .our-brand__photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

footer {
  width: 100%;
  background: url(../img/footer-img.png) no-repeat center center;
  background-size: cover;
}
footer .footer-info {
  padding: 100px 0 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
footer .footer-info .info-shop {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  padding-right: 35px;
}
footer .footer-info .info-shop h2 {
  font-size: 24px;
  font-family: "Playfair Display", serif;
  color: #fff;
  line-height: 1.33;
  font-weight: 400;
  margin-bottom: 40px;
  text-transform: uppercase;
  font-weight: 400;
}
footer .footer-info .info-shop p {
  font-size: 14px;
  font-weight: 400;
  font-family: "PT Sans", sans-serif;
  color: #fff;
  line-height: 1.29;
  text-align: left;
  line-height: 1.5;
}
footer .footer-info .category {
  -ms-flex-preferred-size: 28%;
      flex-basis: 28%;
}
footer .footer-info .category h2 {
  font-size: 24px;
  font-family: "Playfair Display", serif;
  color: #fff;
  line-height: 1.33;
  font-weight: 400;
  margin-bottom: 40px;
  text-transform: uppercase;
  font-weight: 400;
}
footer .footer-info .category .categoty-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
footer .footer-info .category .categoty-item a {
  font-size: 14px;
  font-weight: 400;
  font-family: "PT Sans", sans-serif;
  color: #D0D0D0;
  line-height: 1.29;
  line-height: 1.5;
  padding: 10px 20px;
  background: #0F0F0F;
  margin-right: 20px;
  margin-bottom: 20px;
}
footer .footer-info .mailling {
  -ms-flex-preferred-size: 32%;
      flex-basis: 32%;
}
footer .footer-info .mailling h2 {
  font-size: 24px;
  font-family: "Playfair Display", serif;
  color: #fff;
  line-height: 1.33;
  font-weight: 400;
  margin-bottom: 40px;
  text-transform: uppercase;
  font-weight: 400;
}
footer .footer-info .mailling p {
  font-size: 14px;
  font-weight: 400;
  font-family: "PT Sans", sans-serif;
  color: #fff;
  line-height: 1.29;
  text-align: left;
  line-height: 1.5;
  margin-bottom: 37px;
}
footer .footer-info .mailling .input-mail input {
  background: rgba(255, 255, 255, 0.4);
  border: none;
  padding: 11px 15px;
}
footer .footer-info .mailling .input-mail input::-webkit-input-placeholder {
  color: #969696;
}
footer .footer-info .mailling .input-mail input::-moz-placeholder {
  color: #969696;
}
footer .footer-info .mailling .input-mail input:-ms-input-placeholder {
  color: #969696;
}
footer .footer-info .mailling .input-mail input::-ms-input-placeholder {
  color: #969696;
}
footer .footer-info .mailling .input-mail input::placeholder {
  color: #969696;
}
footer .footer-info .mailling .input-mail input:active {
  border: none;
}
footer .footer-info .mailling .input-mail button {
  font-size: 14px;
  font-weight: 400;
  font-family: "PT Sans", sans-serif;
  color: #fff;
  line-height: 1.29;
  padding: 10px 20px;
  text-transform: uppercase;
  line-height: 1.5;
  background: #000;
  border: none;
  letter-spacing: 0.05em;
  margin-left: -4px;
  cursor: pointer;
}

.slider {
  position: relative;
  padding: 0 60px;
}
.slider .slick-arrow {
  position: absolute;
  top: 50%;
  margin-top: -40px;
  z-index: 10;
  font-size: 0;
  width: 40px;
  height: 50px;
  border-style: none;
}
.slider .slick-prev {
  left: 0;
  background: url(../img/arrow-left.svg) 0 0/100% no-repeat;
}
.slider .slick-next {
  right: 0;
  background: url(../img/arrow-right.svg) 0 0/100% no-repeat;
}
.slider .slick-list {
  overflow: hidden;
}
.slider .slick-list .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.slider .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.slider .slick-dots li {
  list-style: none;
  margin: 0 10px;
}
.slider .slick-dots li.slick-active > button {
  background-color: transparent;
  border: 1px solid #fff;
}
.slider .slick-dots li button {
  font-size: 0;
  width: 10px;
  height: 10px;
  background-color: #fff;
  border-radius: 50%;
  border-style: none;
}